<% include header.ejs %>
<header class="app-header">
  <a href="/" class="app-brand"><%= title %></a>
  <div class="app-markers">
    <a href="#" id="control-toggle-marker-dropdown"><span class="icon inverse marker"></span> Marker</a>
    <ul id="control-marker-dropdown" class="dropdown"></ul>
  </div>
  <div class="app-controls">
  	<a href="#" id="control-marker" class="icon inverse disabled marker"/></a>
  	<a href="#" id="control-start" class="icon inverse disabled crosshair"></a>
  	<a href="#" id="control-sync" class="icon inverse disabled sync"></a>
  	<label><input id="control-speed" type="number" size="5"/>ms</label>
  	<span id="control-currenttime">00.000</span>
	<a href="#" id="control-backward" class="icon inverse backward"></a>
	<a href="#" id="control-forward" class="icon inverse forward"></a>
  </div>
</header>
<main id="main-container" class="container dropzone"></main>
<script src="js/instance.js"></script>
<% include footer.ejs %>