@import "variables.less";
@import "mixins.less";

// ===== simple reset ===============================================

* {
  margin: 0;
  padding: 0;
  .box-sizing(border-box);
}

// ===== global =====================================================

html, body {
  height: 100%;
  font-family: 'Exo', sans-serif;
}

.app {
  padding-top: @header-height;
}

.app-header {
  height: @header-height;
  margin-top: -@header-height;

  .simple-linear-gradient(@dark);
}

.app-brand {
  display: block;
  padding: 14px;
  height: @header-height;
  width: 200px;

  color: white;
  font-weight: bold;
  text-decoration: none;
}

// ===== main =======================================================

#main-container {
  height: 100%;
  position: relative;
  background-color: white;
}

#main-container.empty {
  .transition(background-color @duration);
}

#main-container.empty.active {
  background-color: fade(@accent, 30);
}

#main-container.empty:before {
  content: attr(data-text);

  display: block;
  height: 400px;
  width: 600px;
  margin-top: -200px;
  margin-left: -300px;

  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 300%;
  text-align: center;
}